
.labels-round-both {
    /*-fx-border-radius: 0px 20px 20px 0px;*/
    -fx-background-radius: 10px 10px 0px 0px;
    /*-fx-background-color: #71B1C5;*/
}
.labels-round-left{
    -fx-background-radius: 10px 0px 0px 0px;
    /*-fx-background-color: #71B1C5;*/
}
.labels-round-right{
    -fx-background-radius: 0px 10px 0px 0px;
    /*-fx-background-color: #71B1C5;*/
}
.labels {
    -fx-background-color: #71B1C5;
    -fx-font-family: "Courier New";
    /*-fx-text-fill: #f0f2f3;*/
    /*-fx-font-size: 11px;*/
}
.label-small_font{
    -fx-text-fill: #f0f2f3;
    -fx-font-size: 13px;
}
.label_normal_font{
    -fx-text-fill: #003366;
    -fx-font-size: 16px;
}
.buttons-style {
    -fx-background-color: #71B1C5;
    /*-fx-background-radius: 10px 10px 10px 10px;*/
    -fx-font-family: "Courier New";
    -fx-text-fill: #f0f2f3;
    -fx-font-size: 13px;
}
.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}